@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --green-color: #0DB760;
  --black-color: #000000;
  --red-color: #FF0000;
  --white-color: #FFFFFF;
  --gray-color: #92929D;
  --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--black-color);
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  transition: var(--transition);
}

.main {
  flex: 1 1 auto;
}

button {
  font: inherit;
}

button:hover {
  cursor: pointer;
}

section,
header {
  padding-left: 160px;
  padding-right: 160px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
  height: 60px;
  transition: var(--transition);
  border-radius: 0.75rem;
  border: 2px solid white;
  padding: 1rem;
}

.logo:hover {
  border-color: var(--green-color);
}

.logo-img {
  height: 56px;
  filter: invert(66%) sepia(84%) saturate(3677%) hue-rotate(109deg) brightness(91%) contrast(90%);
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-wrapper.active {
  right: 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  font-weight: 500;
  position: relative;
  padding: 5px;
}

.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--green-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-item:hover:after {
  width: 100%; 
  left: 0; 
}

.nav-item.green-border:hover:after {
  width: 0;
}

.green-border {
  font-weight: 500;
  padding: 1rem 1.5rem;
  border: 2px solid var(--green-color);
  border-radius: 0.75rem;
  transition: var(--transition);
}

.green-border:hover {
  color: var(--white-color);
  background-color: var(--green-color);
}

.section-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: var(--green-color);
  border: 0.5px solid var(--green-color);
  border-radius: 50%;
  padding: 6px;
  display: inline-block;
  margin-bottom: 10px;
}

.about,
.skills,
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 180px;
  position: relative;
}

.about {
  padding-top: 80px;
  padding-right: 80px;
}

.about-header {
  font-weight: 600;
  font-size: 44px;
  line-height: 53px;
}

.about-description {
  max-width: 545px;
  width: 100%;
}

.about-photo-container {
  display: flex;
  align-items: center;
  gap: 52px;
}

.about-links {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

@keyframes float {
  0% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(16px);
  }
}

.about-links a {
  animation: float 4s ease-in-out infinite alternate;
}

.about-links a.linkedin {
  animation-delay: 1s;
}

.green-text {
  color: var(--green-color);
}

.description {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  background-color: var(--green-color);
  border-radius: 0.75rem;
  border: 2px solid var(--green-color);
  padding: 1rem 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  transition: var(--transition);
}

.btn:hover {
  transform: scale(1.1);
}

.about-photo {
  width: 440px;
  height: 540px;
  position: relative;
}

.about-img {
  max-width: 420px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}

.photo-border {
  width: 400px;
  height: 400px;
  border: 5px solid var(--black-color);
  position: absolute;
  top: 140px;
  z-index: 1;
}

.photo-background {
  background-color: var(--green-color);
  width: 400px;
  height: 400px;
  position: absolute;
  left: 40px;
  top: 100px;
}

.skills-about {
  max-width: 450px;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.skills-list-item {
  width: 120px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.skills-img {
  display: block;
  width: 100%;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 180px;
  padding-right: 0;
  position: relative;
}

.portfolio-about {
  max-width: 355px;
  width: 100%;
}

.contacts {
  flex-direction: column;
}

.contacts-text {
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.contacts-wrapper {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
}

.contacts-list-item:first-child {
  box-shadow: 0px 30px 116px -16px rgba(211, 211, 211, 0.2);
}

.contacts-list-item {
  max-width: 300px;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
}

.contact-header {
  color: var(--gray-color);
}

.contact {
  font-weight: 500;
}

.contacts-mail {
  max-width: 700px;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.input {
  border: 0.3px solid var(--gray-color);
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.message {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.contacts-btn {
  margin-top: 1.5rem;
  align-self: flex-end;
}

.footer {
  padding-top: 120px;
  padding-bottom: 40px;
}

.footer-wrapper {
  border-top: 1px solid var(--gray-color);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.socials ul {
  display: flex;
  gap: 1rem;
}

.socials-link-img {
  width: 24px;
  height: 24px;
  transition:  var(--transition);
}

.socials-link-img:hover {
  transform: scale(1.1);
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.portfolio-slider {
  width: 880px;
  height: 550px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .slider-btns > label[for="item-1"],
#item-2:checked ~ .slider-btns > label[for="item-2"],
#item-3:checked ~ .slider-btns > label[for="item-3"] {
  background-color: var(--green-color);
  transform: scale(1.2);
}

#item-1:checked ~ .cards #slide-3,
#item-2:checked ~ .cards #slide-1,
#item-3:checked ~ .cards #slide-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #slide-2,
#item-2:checked ~ .cards #slide-3,
#item-3:checked ~ .cards #slide-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #slide-1,
#item-2:checked ~ .cards #slide-2,
#item-3:checked ~ .cards #slide-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #slide-1 img,
#item-2:checked ~ .cards #slide-2 img,
#item-3:checked ~ .cards #slide-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.slider-btns {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.slider-btn {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--gray-color);
}

.slider-btn:hover {
  cursor: pointer;
}

.overlay {
  display: none;
}

.burger {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  width: 50px;
  height: 50px;
  z-index: 100;
}

.burger:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.line {
  width: 50px;
  height: 5px;
  background-color: var(--green-color);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger.active .line:nth-child(2){
  opacity: 0;
}

.burger.active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
  background-color: var(--white-color);
}

.burger.active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
  background-color: var(--white-color);
}



@media (max-width: 1370px) {
  section, header {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .about {
    padding-right: 40px;
  }

  .about-photo-container {
    gap: 1rem;
  }
}

@media (max-width: 1200px) {
  section, header {
    padding-left: 0px;
    padding-right: 0px;
  }

  .about {
    padding-right: 0;
  }

  .portfolio-slider {
    width: 650px;
    height: 405px;
  }
}

@media (max-width: 1050px) {
  .about,
  .skills,
  .portfolio {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  .about-photo {
    width: 340px;
    height: 380px;
  }

  .photo-background {
    top: 38px;
    width: 300px;
    height: 300px;
  }

  .photo-border {
    width: 300px;
    height: 300px;
    top: 80px;
  }

  .about-img {
    right: 0;
    top: 0;
    width: 300px;
  }

  .skills-list-item {
    width: 80px;
    height: 120px;
  }

  .portfolio-slider {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
    margin: 5px 5px;
  }

  .burger.active {
    position: fixed;
    top: 1rem;
    right: 2rem;
  }

  .overlay.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 620px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 50;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    transition: right ease-in-out 0.5s;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 80px;
    padding-left: 15%;
    margin-right: auto;
    gap: 16px;
  }

  .nav-item {
    color: var(--white-color);
    font-size: 30px;
    line-height: 72px;
  }

  .portfolio-slider {
    width: 470px;
    height: 335px;
  }

  .contacts {
    justify-content: center;
  }

  .contacts-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts-mail {
    align-self: center;
  }

  .contacts-btn {
    align-self: center;
  }
}

@media (max-width: 576px) {
  .about-description {
    max-width: 450px;
  }

  .about-header {
    font-size: 36px;
    line-height: 44px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .about-description {
    text-align: center;
  }

  .about-photo {
    width: 160px;
    height: 200px;
  }

  .about-img {
    height: 180px;
    width: 160px;
  }

  .about-links {
    height: 100px;
  }

  .photo-background {
    width: 135px;
    height: 135px;
    left: 25px;
    top: 45px;
  }

  .photo-border {
    width: 140px;
    height: 135px;
    top: 65px;
    border-width: 2px;
  }
  
  .skills-header {
    margin: 0;
  }

  .skills-about {
    text-align: center;
  }

  .skills-list-item {
    font-size: 0.7rem;
    width: 50px;
    height: 85px;
  }

  .portfolio {
    text-align: center;
  }

  .portfolio-slider {
    width: 310px;
    height: 220px;
  }

  .contacts .section-header,
  .contacts-header {
    text-align: center;
  }
  
  .contacts-mail {
    display: flex;
    flex-direction: column;
  }

  .message {
    height: 9rem;
  }
}